body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-color: #ecf2f8;
}

@media (max-width: 1275px) {
  body {
    height: auto;
    padding: 30px;
  }
}

@media (max-width: 575px) {
  body {
    padding: 15px;
  }
}

.container-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 80%;
  margin-bottom: 30px;
  height: auto;
}

@media (max-width: 1275px) {
  .container-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 775px) {
  .container-grid {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .container-grid {
    width: 100%;
  }
}

.container-grid .review-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 10px;
  padding: 30px;
  height: 260px;
}

.container-grid .review-block header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container-grid .review-block header img {
  border-radius: 45px;
  border: #ecf2f8 solid 2px;
  padding: 3px;
  width: 30px;
}

.container-grid .review-block header .name-title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 15px 15px 15px;
  font-size: 15px;
  height: 45px;
  z-index: 2;
}

.container-grid .review-block header .name-title-section h2 {
  opacity: .5;
}

.container-grid .review-block h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .4px;
  line-height: 1.2;
  z-index: 2;
}

.container-grid .review-block p {
  opacity: .7;
  font-size: 13px;
  letter-spacing: .4px;
  line-height: 1.5;
  margin-top: 15px;
}

@media (max-width: 900px) {
  .container-grid .review-block {
    height: 325px;
  }
}

@media (max-width: 775px) {
  .container-grid .review-block {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.container-grid .review-block.review-one {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
  background-color: #7541c8;
  color: white;
  position: relative;
}

@media (max-width: 775px) {
  .container-grid .review-block.review-one {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.container-grid .review-block.review-one .big-quote {
  position: absolute;
  right: 18%;
  top: 0;
  z-index: 1;
  width: 120px;
}

@media (max-width: 575px) {
  .container-grid .review-block.review-one .big-quote {
    right: 15px;
    height: 120px;
  }
}

.container-grid .review-block.review-two {
  background-color: #48556a;
  color: white;
}

.container-grid .review-block.review-three {
  background-color: white;
  color: #19212e;
}

.container-grid .review-block.review-four {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/span 2;
  background-color: #19212e;
  color: white;
}

@media (max-width: 775px) {
  .container-grid .review-block.review-four {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.container-grid .review-block.review-five {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/span 2;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  color: #19212e;
}

@media (max-width: 1275px) {
  .container-grid .review-block.review-five {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/span 3;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

@media (max-width: 775px) {
  .container-grid .review-block.review-five {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 5;
    grid-row: 5;
  }
}

.attribution {
  font-size: 14px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */