.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
// my styles
$light-grey-blue : hsl(210, 46%, 95%);
$dark-grey-blue: hsl(217, 19%, 35%);
$blackish-blue: hsl(219, 29%, 14%);
$kinda-violet: hsl(263, 55%, 52%);
$white: hsl(0, 0%, 100%);

body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $light-grey-blue;
}

.container-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}
.review-block{
  border-radius: 10px;
  padding: 30px;
}
.review-one{
  grid-column: 1/span 2;
  background-color: $kinda-violet;
}
.review-two{
  background-color: $dark-grey-blue;
}
.review-three{
  background-color: $white;
}
.review-four{
  grid-column: 2/span 2;
  background-color: $blackish-blue;
}
.review-five{
  grid-column: 4;
  grid-row: 1/span 2;
  background-color: $white;
}

img{
  border-radius: 45px;
  border: $light-grey-blue solid 2px;
  padding: 3px;
}

h1{
  font-size: 18px;
}
